@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  /* Primary */

  --orange: hsl(25, 97%, 53%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 20%, 18%);
  --dark-blue-btn: hsl(210, 15%, 20%);
  --darker-blue: hsl(212, 18%, 12%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* Font */
  --overpass: "Overpass", sans-serif;
  --w-regular: 400;
  --w-bold: 700;

  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
}

body {
  font-family: var(--overpass);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
}

h1 {
  color: var(--white);
  margin: 0 0 var(--s-16) 0;
  font-weight: var(--w-bold);
}

p {
  color: var(--light-grey);
  line-height: var(--s-24);
  font-size: 15px;
  margin: 0;
}

.card {
  width: 412px;
  height: 416px;
  background: linear-gradient(var(--dark-blue), var(--darker-blue));
  border-radius: var(--s-24);
  box-sizing: border-box;
  padding: var(--s-32);
}

.pre-submitted {
  display: block;
}

.card .star {
  width: 48px;
  height: 48px;
  background-color: var(--dark-blue-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: var(--s-24);
}
.text {
  margin-bottom: var(--s-16);
}
.score-buttons {
  margin-bottom: var(--s-32);
  display: flex;
  justify-content: space-between;
  width: 340px;
}
.score-buttons > button {
  border: none;
  border-radius: 50%;
  width: var(--s-48);
  height: var(--s-48);
  background-color: var(--dark-blue-btn);
  color: var(--light-grey);
  font-weight: var(--w-bold);
  margin-right: var(--s-16);
}

.score-buttons > button:hover {
  background-color: var(--orange);
  color: var(--white);
}

.score-buttons > button:nth-child(5) {
  margin: 0;
}

.submit-button > button {
  border: none;
  width: 340px;
  height: 48px;
  border-radius: var(--s-32);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  font-weight: var(--w-bold);
}

.submit-button > button:hover {
  background-color: var(--white);
  color: var(--orange);
}

.submitted-form {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submitted-form > h1 {
  margin: var(--s-32) 0 var(--s-32) 0;
}
.submitted-form .score {
  width: 194px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue-btn);
  text-align: center;
  border-radius: var(--s-32);
  margin-top: var(--s-32);
}

.submitted-form .score > p {
  color: var(--orange);
}

.submitted-form > p {
  text-align: center;
  color: var(--light-grey);
  font-weight: var(--w-regular);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 16px;
  width: 100%;
}

.attribution p {
  color: var(--light-grey);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
